<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TimeTable.Properties.Settings>
            <setting name="LoadStrNine" serializeAs="String">
                <value>9:00-10:00</value>
            </setting>
            <setting name="LoadStrTen" serializeAs="String">
                <value>10:00-11:00</value>
            </setting>
            <setting name="LoadStrEle" serializeAs="String">
                <value>11:00-12:00</value>
            </setting>
            <setting name="LoadStrTwe" serializeAs="String">
                <value>12:00-13:00</value>
            </setting>
            <setting name="LoadStrThi" serializeAs="String">
                <value>13:00-14:00</value>
            </setting>
            <setting name="LoadStrFou" serializeAs="String">
                <value>14:00-15:00</value>
            </setting>
            <setting name="LoadStrFif" serializeAs="String">
                <value>15:00-16:00</value>
            </setting>
            <setting name="LoadStrSix" serializeAs="String">
                <value>16:00-17:00</value>
            </setting>
            <setting name="LoadStrSev" serializeAs="String">
                <value>17:00-18:00</value>
            </setting>
        </TimeTable.Properties.Settings>
    </applicationSettings>
</configuration>